@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --progress-gradient: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4c00db, #8a2be2);
  --progress-label: #4c00db;
}

html, body, .main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.main {
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.850);
  color: #fff;
}

.loading i {
  font-size: 3.5em;
}

.side-bar {
  width: 30%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4c00db, #8a2be2);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.side-bar img {
  width: 45%;
  height: auto;
}

.side-bar h1 {
  font-size: 1.5em;
  text-transform: none;
  margin-bottom: 0;
}

.side-bar .items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.side-bar .item {
  width: 100%;
  border-top: solid 1px rgba(204, 204, 204, 0.267);
  padding: 4% 0 4% 0;
  cursor: pointer;
}

.side-bar .active {
  background-color: #fff;
  cursor: default;
  color: #4c00db;
}

.side-bar .active:hover {
  color: #4c00db !important;
}

.side-bar .item:last-child {
  border-bottom: solid 1px rgba(204, 204, 204, 0.267);
}

.side-bar .item:hover {
  color: #c6c6c6;
}

.side-bar .side-footer {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-footer span:nth-child(1) {
  margin-right: 15px;
}

.side-footer i {
  cursor: pointer;
  font-size: 2.5em;
}

#about p:nth-child(2) {
  padding: 0;
  margin: 0;
  text-align: center;
}

#about p:last-child {
  padding: 0;
  margin: 0 0 1% 0;
  text-align: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.850);
}

.modal {
  width: 70%;
  min-height: 30%;
  background-color: #fff;
  border-radius: 15px;
  z-index: 100;
}

.modal > .header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal > .header * {
  margin: 2%;
}

.modal > .header i {
  font-size: 2.2em;
  cursor: pointer;
}

.modal > .body {
  width: 100%;
  height: auto;
}

.modal > .body p {
  text-align: justify;
  text-justify: inter-word;
  padding: 2%;
}

.content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#verify {
    margin-top: 30px;
    width: 50%;
    max-width: 502px;
    height: 10%;
    max-height: 55px;
    font-weight: 600;
    background-color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .5rem 3rem;
    color: #6111ac;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4c00db, #8a2be2);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

#delete {
  display: none;
  margin-top: 10px;
  width: 50%;
  max-width: 502px;
  height: 10%;
  max-height: 55px;
  font-weight: 600;
  background-color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: #8f1919;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #420b0b, #cf0000);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.verifying {
  box-shadow: none !important;
  color: white !important;
  cursor: wait !important;
}

#verify:hover, #delete:hover {
  box-shadow: none;
  color: white;
}

#label, #size {
    margin-top: 1%;
}

#size {
    display: none;
}

  .circular{
    height:100px;
    width: 100px;
    position: relative;
    margin-bottom: 50px;
    transform:scale(2);
  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #fff;
    border-radius: 100%;
   
  }

  .circular img {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
  }

  .circular .number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: var(--progress-label);
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(224, 224, 224);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background-image: var(--progress-gradient);
  }
  .circle .left .progress{
    z-index:1;
  }

  .circle .right {
    transform: rotate(180deg);
    z-index:3;
  }


.process-list, .program-list {
  width: 100%;
  min-height: 0;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.process {
  width: 80%;
  padding: 6px;
  border-top: solid 1px rgba(204, 204, 204, 0.404);
  display: flex;
  flex-direction: row;
  align-self: center;
}

.process:last-child {
  border-bottom: solid 1px rgba(204, 204, 204, 0.404);
}

.process-title {
  max-width: 90%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-icon, .program-icon {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  justify-content: center;
  text-align: right;
  width: 10%;
  color: #ff0000;
  cursor: pointer;
}

.process-icon:hover, .program-icon:hover {
  color: #c6c6c6;
}

.process-icon i, .program-icon i {
  font-size: 1.5em;
}

.list-header {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-header i {
  font-size: 1.5em;
  margin-left: auto;
  cursor: pointer;
}

.list-header i:hover {
  color: #c6c6c6;
}

.notification-deck {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 10px 15px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
}

.notification {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin-top: 10px;
}

.notification:first-child {
  margin-top: 0;
}

.green {
  background-color: rgba(0, 255, 0, 0.63);
  color: rgb(0, 105, 0);
}

.red {
  background-color: rgba(255, 0, 0, 0.63);
  color: rgb(105, 0, 0);
}

@media (max-width: 400px) {
    #label, #size {
        font-size: 14px;
        margin-top: 3%;
    }

    button {
        font-size: 0.9rem;
    }
}
